{% extends 'base.html.twig' %}

{% block title %}Hello BootstrapController!{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
        <div class="container" id='count'>
               <h1>Counter</h1>

               <div class="row">
                   <div class="row">
                       <div class="col-12">
                           <br>
                           <div>
                               <button class="primary" v-on:click="countup">Up</button>
                               <button class="danger" v-on:click="countdown">Down</button>
                               <button class="danger" v-on:click="reset">Reset</button>
                               Counter: {* number *}
                           </div>
                       </div>
                   </div>
               </div>
           </div>
{% endblock %}
